.flash-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px 10px 8px;
    width: calc(100% - 15px);
    margin-bottom: 20px;
}

.add-button {
    font-size: 24px;
    float: right;
    margin-top: -45px;
    margin-right: -10px;
}

.close {
    text-align: right;
    position: absolute;
    right: 3%;
    color: #777;
    z-index: 99;
}

.close:hover {
    cursor: pointer;
    color: #444;
}