.example-form {
    min-width: 150px;
}

.flex-container {
    display: flex;
}

.flex-container .flex-grow {
    flex-grow: 1;
    margin-right: 5px;
}

.flex-container button {
    width: 75px;
    height: 45px;
}

.result-link {
    text-decoration: none;
    font-size: 20px;
}

.result-description {
    margin-top: 8px;
    color: #555;
}
