<h1>Create Study Guide</h1>

<mat-card class="card-container">
    <form class="example-form">
        <h2>Basic Information</h2>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Description"></textarea>
        </mat-form-field>
        <h2>Flash Cards</h2>
        <div *ngFor="let flashCard of flashCards" class="flash-card example-full-width" appearance="outline">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Front">{{ flashCard.front }}</textarea>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Back">{{ flashCard.back }}</textarea>
            </mat-form-field>
        </div>
        <button mat-fab color="accent" (click)="addFlashCard()" class="add-button">+</button>
    </form>
</mat-card>
<div class="button-container">
    <button mat-raised-button color="primary" class="big-button" (click)="onSubmit()">Submit</button>    
</div>
