<h1>
    {{ this.studyGuide.name }}
</h1>


<mat-card class="index-card" (click)="onIndexCardClick()">
    <div [hidden]="!showFront" >
        {{ this.studyGuide.indexCards[cardNum]?.front }}
    </div>
    <div [hidden]="showFront" >
        {{ this.studyGuide.indexCards[cardNum]?.back }}
    </div>
</mat-card>
<div class="buttons">
    <button mat-raised-button color="primary" (click)="onPreviousClick()">Previous</button>
    <button mat-raised-button color="primary" (click)="onNextClick()">Next</button>
</div>