<h1>
    {{ this.studyGuide.name }}
</h1>


<div class="index-card">
    <mat-card [@flip]="cardState" [@slide]="cardState" class="inner-card" (click)="onIndexCardClick()">
        <div class="card-front">
            {{ this.studyGuide.indexCards[cardNum]?.front }}
        </div>
        <div class="card-back">
            {{ this.studyGuide.indexCards[cardNum]?.back }}
        </div>
    </mat-card>
    </div>
<div class="buttons">
    <button mat-raised-button color="primary" (click)="onPreviousClick()">Previous</button>
    <button mat-raised-button color="primary" (click)="onNextClick()">Next</button>
</div>