h1 {
    text-align: center;
}

.index-card {
    max-width: 70%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.inner-card {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    font-size: 24px;
    text-align: center;
}

.inner-card > div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.buttons {
    text-align: center;
}

.buttons * {
    margin: 5px;
}