h1 {
    text-align: center;
}

.index-card {
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.inner-card {
    position: relative;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    transform-style: preserve-3d;
    font-size: 24px;
    text-align: center;
}

.inner-card > div {
    position: absolute;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons * {
    margin: 5px;
    width: 100px;
    height: 40px;
}
