@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

.error-text {
    color: red;
    font-size: 14px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.card-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 15px;
}