<idx-form-panel [formHeader]="'Forgot Password?'">
  <form [formGroup]="forgotPasswordForm" class="form-primary">
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter your email address" formControlName="email" name="email" required>
    </mat-form-field>
    <p *ngIf="error?.serverError" class="error-text">&nbsp;{{ errorResponse | json }}&nbsp;</p>
    <div class="button-container">
      <button mat-raised-button color="primary" class="big-button" (click)="onSubmit()">Submit</button>
    </div>
  </form>
</idx-form-panel>