<mat-toolbar color='primary' class="menu-bar">
  <span routerLink="/" class="logo">FlashyStudy</span>
  <span routerLink="/create" routerLinkActive="active" class="destination">Create Study Guide</span>
  <span routerLink="/search" routerLinkActive="active" class="destination">Find Study Guide</span>
  <span class="spacer"></span>
  <button routerLink="/register" mat-stroked-button class="menu-button bordered">Register</button>
  <button mat-stroked-button class="menu-button">Login</button>
</mat-toolbar>